.media.my-2{data: {before: item.rank? ? "%s %d" % [action_name, item.rank] : nil}}
  .media-body
    %h5.mt-0.display-5
      = link_to item.title, item.url!

    .text-muted
      = t('hacker_news.score', count: item.score? || 0)
      = link_to t('comment.comments', count: item.descendants? || 0), 'https://news.ycombinator.com/item?id=%d' % item.id, class: 'text-muted text-nowrap font-weight-bold'
    .text-muted
      = timeago_tag Time.at(item.time), lang: I18n.locale, limit: 1.days.ago
      = t('hacker_news.by', by: item.by)
