= render @story

= form_with url: publish_story_path(@story) do
  .form-group
    = text_area_tag :summary, @story.summary, cols: 80, rows: 6
  .form-check
    = label_tag :publish, class: 'form-check-label' do
      publish
      = check_box_tag :publish, true, class: 'form-check-input'
  = submit_tag('Publish', class: "btn btn-primary")
